::ng-deep .tooltip {
    background: rgba(11,36,80,.8);
    color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid #eee;
    font-weight: 500;
    transition: all 200ms linear;

    &:before {
        content: "";
        position: absolute;
        top: -30px;
        margin-top: 10px;
        border: solid 10px transparent;
        border-bottom-color: #FFF;
        z-index: 1;
    }
}
