::ng-deep .tooltip {
    background: rgba(11,36,80,.8);
    color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid #eee;
    font-weight: 500;

    &:before {
        content: "";
        position: absolute;
        top: 20px;
        margin-top: -10px;
        left:-20px;
        border: solid 10px transparent;
        border-right-color: #FFF;
        z-index: 1;
    }
}